nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #30a093;
  padding: 21px 34px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
}

nav .nav-left {
  display: flex;
  align-items: center;
}

nav .nav-right {
  display: flex;
  align-items: center;
}

nav .cart-icon {
  margin-left: 5px;
}

.main-content {
  margin-top: 70px; /* Adjust this value according to the height of your navbar */
  padding: 20px;
}
.cart-icon {
  margin-right: 5px;
  margin-bottom: -4px;
  font-size: 20px;
}
.cart-icon-container {
  position: relative; /* For positioning the badge */
}
